@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.input-field,
textarea,
input[type="text"] {
  @apply border border-solid border-black/[.08] dark:border-white/[.145];
  @apply rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-300 transition-colors;
}

button {
  @apply rounded-md border border-solid border-black/[.08] dark:border-white/[.145] transition-colors;
  @apply flex items-center justify-center hover:bg-[#f2f2f2] dark:hover:bg-[#1a1a1a] hover:border-transparent;
  @apply font-medium text-sm sm:text-base h-10 px-4;
}

.app-container {
  @apply flex flex-col max-w-2xl mx-auto min-h-screen relative;
  @apply w-[40em];
}

.app-container__header {
  @apply flex justify-between items-center py-2 border-b border-neutral-700 fixed top-0 w-[40em] m-auto bg-black;
}

.app-container__main {
  @apply grid content-end gap-4 py-4 overflow-y-auto min-h-[70vh] mt-[4em];
}

.app-container__footer {
  @apply flex gap-2 mt-4 border-t border-neutral-700 py-4 bg-black fixed bottom-0 left-0 right-0 m-auto w-[40em];
}

.chat-message {
  @apply mt-6 grid text-neutral-400;
}

.chat-user {
  @apply py-2 px-4 rounded-md bg-neutral-900 place-self-end;
}

.chat-system {
  @apply text-left;
}
.chat-system__intro,
.chat-system__outro {
  @apply text-neutral-400;
}

.chat-system__places {
  @apply my-2;
}
.chat-system__places li {
  @apply mb-4;
}
.chat-system__places li p {
  @apply ml-5;
}
